{
  "globals": {
    "cy": true,
    "Cypress": true,
    "chai": true,
    "describe": true,
    "context": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "expect": true,
    "Promise": true
  }
}
