:host {
  --highlight-color: yellow;
}

.highlight {
  border: solid var(--highlight-border-width) var(--highlight-color);
  box-sizing: content-box;
  position: absolute;
}

.label {
  background: var(--highlight-color);
  color: #333;
  display: inline-block;
  font-family: sans-serif;
  padding: 5px 8px;
  position: relative;
}
